# python 변수 및 데이터 타입
- 변수 및 데이터 타입
- 숫자형 (Numeric)
- 문자열 (String)
- 기본 입출력 (print, input)
- 리스트 (List)
- 튜플 (Tuple)
- 집합 (Set)
- 사전 (Dictionary)

## 코드 실행
1. 셀 선택
2. Ctrl + Enter 또는 Shift + Enter (실행 후 셀이동)

In [4]:
print('코드를 실행시켜보세요.')

코드를 실행시켜보세요.

python

## 주석
- \# 문자 이후는 주석으로 인식
- \#이후 문자는 기계어(0,1)로 번역되지 않기 때문에 실행 코드에 없음 (실행 안됨)

In [2]:
# 이 줄은 주석(설명문)입니다.
print('코드를 실행시켜보세요.') # 이것은 print 함수입니다.
# print('코드를 실행시켜보세요.')

코드를 실행시켜보세요.

## 변수 및 데이터 타입

### 변수 이름 규칙
- 영문 혹은 _(Under Score)로 시작
- 두 번째 글자부터 영문자, 문자, 숫자, _(Under Score) 사용가능
- 글자 수 길이 무제한
- 유니코드 가능(변수명 한글 가능)
- 키워드는 변수로 사용 불가능
   - False, elif, lambda, None, else, nonlocal, True, except, not, and, finally, or, as, for,
pass, assert, from, raise, break, global, return, class, if, try, continue, import,
while, def, in, with, del, is, yield

In [4]:
a=10
a=20
a=30
print(a)

30

In [4]:
a=30
A=50
print(a, A)  #print() 괄호안의 내용을 출력하고 줄바꿈-여러줄 출력
print(a)
print(A)

30 50
30
50

In [5]:
a, A   #print() 없이 출력이 가능하나 출력하고 줄을 안바꿈-마지막 값만 출력된 효과
a
A

50

In [6]:
b=a+A   #할당한다,  = 대입연산자
b

80

In [7]:
a=15
b=0b00001111
c=0o17
d=0xF
a,b,c,d

(15, 15, 15, 15)

### 타입확인 및 형변환
- type()
- int(), float(), bool(), str()

In [8]:
a = 77
b = True
c = [1, 2, 3]

# a, b, c가 각각 어떤 type인지 알아보세요.
type(a), type(b), type(c)

(int, bool, list)

In [9]:
# 정수를 실수로 변환  (1 -> 1.0)
float(1)

1.0

In [10]:
# 실수를 정수로 변환 (3.56 -> 3), 소수점 아래 잘림

3

In [11]:
# 문자열을 정수, 실수로 변환 ("123" -> 123,  "3.14" -> 3.14)
s="123"

(str, 123, 3.14)

In [15]:
# bool을 정수로 변환 (False -> 0)
int(False)

0

In [16]:
# 정수를 bool 타입으로 변환 (1 -> True) (0 -> False)
bool(1), bool(0)

(True, False)

### 산술 연산자
- \+ \- \* \/
- // % **
- abs()

In [12]:
a=11/2    # 나눗셈 결과값
b=11//2   # 몫
c=11%2    # 나머지
a,b,c

(5.5, 5, 1)

### 비교 및 논리 연산자
- < > <= >= == !=
- or and not

In [18]:
a=30
b=30
a>b

False

### False로 취급 받는 것
- **None, False, 숫자형의 0 (0, 0.0), 빈 시퀀스('', [], ()), 빈 맵({ })**
- False가 아닌 것은 모두 True

In [19]:
bool(None), bool(False), bool(0), bool(0.0), bool(0j), bool(""), bool([]), bool(()), bool({})

(False, False, False, False, False, False, False, False, False)

In [2]:
bool(1), bool(3.14), bool('A'), bool([1, 2])

(True, True, True, True)

## 문자열 (String)

### 문자열 선언

In [20]:
# 1
a = 'Hello Python' # 작은 따옴표

# 2
b = "Hello Python" # 큰 따옴표

# 3
c = '''Hello Python''' # 작은 따옴표 3개

# 4
d = """Hello Python""" # 큰 따옴표 3개

print(a)
print(b)
print(c)
print(d)

Hello Python
Hello Python
Hello Python
Hello Python

### Escape 문자
- \n \t

In [6]:
# \n : 줄바꿈 
print("안녕\n하세요")

안녕
하세요

In [7]:
# \t : 탭(tab)
print("안녕\t하세요")

안녕	하세요

### 문자열 연산자
Sequence type (tuple, list, str 공통)

In [13]:
# A + B: A, B 두 문자열을 연결하여 새로운 문자열 생성
A = 'Py'
B = 'thon'

('Python', 'PyPyPy')

### 인덱싱 & 슬라이싱
Sequence type (tuple, list, str 공통)

![image.png]()

```
myStr[ start : stop : step ]
- start 인덱스부터 stop 인덱스 전까지 step 만큼씩
- start 인덱스 포함
- stop 인덱스 포함 X
- 음수 step은 반대 방향을 의미
- start 생략 시 "처음부터"
- stop 생략 시 "끝까지"
- step 생략 시 1 만큼씩
```

In [14]:
a='python'
a[3], a[-1], a[0], a[-4]

('h', 'n', 'p', 't')

In [15]:
# slicing
a[1:3], a[:3], a[3:], a[-3:], a[0:6:2], a[::-1]

('yt', 'pyt', 'hon', 'hon', 'pto', 'nohtyp')

In [ ]:
# "on"만 출력되도록 해 보세요.

### 문자열 연습문제

In [25]:
# 다음을 슬라이싱하여 날짜는 date 변수에 날씨는 weather 변수에 저장 후 출력하세요
today = "20200522Rainy"
# code here

('20200522', 'Rainy')

In [26]:
# 다음을 인덱싱하여 성별을 나타내는 숫자를 출력하세요.
jumin='881120-1064533'
# code here

'1'

### 문자열 포맷팅
형식(format)을 사용하여 문자열을 만드는 방법

In [17]:
x=3.141592
y=500
print(x, y)
print('x의 값은',x, ' y의 값은 ', y)
print('x의 값은 %.2f, y의 값은 %d' % (x, y))
print(f'x의 값은 {x}, y의 값은 {y}')
print('x의 값은 {}, y의 값은 {}'.format(x,y))

3.141592 500
x의 값은 3.141592  y의 값은  500
x의 값은 3.14, y의 값은 500
x의 값은 3.141592, y의 값은 500
x의 값은 3.141592, y의 값은 500

### 문자열 관련 함수, 메서드
- len(str)
- str.join(iterable)
- str.split(sep)
- str.strip()

In [28]:
# 문자열의 길이 구하기  len(str)

A = "Hello"
# A의 길이를 출력해 보세요

5

In [46]:
a=","
data="abcd"
result=a.join(data)
result

'a,b,c,d'

In [45]:
# ['hong', 'kil', 'dong']  이름이 이렇게 분리되어 있을 때  'hong kil dong'으로 출력하여 보자
data=['hong', 'kil', 'dong']

'hong kil dong'

In [47]:
c=result.split(',')
c

['a', 'b', 'c', 'd']

In [31]:
# 전화번호를 ['010', '1234', '5678']와 같이 분리하여 보세요.
phone = '010-1234-5678'

['010', '1234', '5678']

## 기본 입출력

### input 함수

        input(prompt='문자열')

- 문자열 키보드 입력, 숫자를 입력해도 문자열로 인식됨
- prompt : 입력을 안내할 문자열, 생략가능
- 반환되는 type은 str 임

In [32]:
age=input("나이를 입력해 주세요")  # 키보드 입력(문자로)
age

나이를 입력해 주세요33

'33'

In [ ]:
#성적을 입력받아 출력해 보자

In [33]:
#계산을 위해서는 반드시 숫자형으로 형변화 해야함.
age=int(age)   # 문자를 숫자형으로 변환
nextAge=age+1
nextAge

34

### print 함수

        print(value, sep=' ', end='\n', …)

- value를 표준 출력 장치(screen)에 출력 - value 가변 길이
- sep : 출력되는 value 들 사이 분리 기호 - 기본 값 : 공백(‘ ‘)
- end : 출력 문자열 마지막 문자 - 기본 값 : 줄 바꿈 문자

In [52]:
print('이름', '홍길동', '나이', 27)

이름 홍길동 나이 27

In [53]:
print('이름', '홍길동', sep=':')

이름:홍길동

In [54]:
print('이름', '홍길동')
print('나이', 27)

이름 홍길동
나이 27

In [55]:
print('이름', '홍길동', end=' ')
print('나이', 27)

이름 홍길동 나이 27

## 자료구조
Sequence Type
- 문자열(str)
- 리스트(list) : 여러 가지 형태의 변수를 하나의 순서가 있는 배열로 묶어 놓은 형태
- 튜플(tuple) : 리스트와 유사하지만 요소의 수정이 불가능한 리스트

Set Type
- 집합(set) : 순서가 없고 중복을 허용하지 않음

Mapping
- 사전(dict) : Key와 Value 형태로 데이터를 저장함

### Sequence Type의 공통 특징
- '+', '*' 연산의 사용
- indexing, slicing의 사용

In [5]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [6]:
a = [1, 2, 3]
b = 2
a * b

[1, 2, 3, 1, 2, 3]

### 리스트(list)
- 리스트는 여러 가지 형태의 값을 하나의 순서가 있는 배열 형태로 묶어 놓은 것
   - 리스트는 모든 type의 객체를 item으로 할 수 있음
- 파이썬에서 가장 많이 사용되며, 유연한 구조의 데이터 타입
- 리스트 내의 항목들은 쉼표로 구분하고 사각 괄호[ ] 안에 포함됨
- Slicing을 이용하여 리스트의 일정 범위 항목을 쪼개어 가져오거나 한 항목을 가져올 수 있음
- 리스트의 각 항목은 변경이 가능
   - x[0] = 10

#### 리스트(list) 생성

In [18]:
#list 생성(Create)
mylist=[1,2,3,4,5]
mymsg='abcde'
mylist=list(mymsg)
mylist

['a', 'b', 'c', 'd', 'e']

In [19]:
len(mymsg), len(mylist)

(5, 5)

In [20]:
# 검색(Read) : indexing

('a', 'e', 'd')

In [21]:
# 검색(Read) : slicing

(['a', 'b', 'c'], ['b', 'c'], ['e', 'd', 'c', 'b', 'a'])

In [38]:
# 추가 insert(위치, 값) 1인덱스에 3추가해 보자

['a', 3, 'b', 'c', 'd', 'e']

In [39]:
# 수정 (Update) 1인덱스의 값을 100으로 변경해 보자

['a', 100, 'b', 'c', 'd', 'e']

In [48]:
#삭제 (Delete)  remove(100)을 제거 해 보자

In [49]:
# 삭제   인덱스3번위치 값을 제거해 보자

In [49]:
# 삭제   인덱스3번위치 값을 제거해 보자

In [26]:
mylist=[5,8,3,6,9]
mylist.sort()
mylist

[3, 5, 6, 8, 9]

In [27]:
# 내림차순으로 sort 해 보자.

[9, 8, 6, 5, 3]

#### 2차원 리스트

In [44]:
mylist=[ [1,3,5],[3,5,7],[5,7,9]  ]
mylist[1]

[3, 5, 7]

In [45]:
mylist[0][1]

3

In [46]:
mylist[1]=300
mylist

[[1, 3, 5], 300, [5, 7, 9]]

In [47]:
test=[1,2,3]
test[1]=[4,5,6]
test

[1, [4, 5, 6], 3]

In [48]:
#5를 삭제
test[1].pop(1)
test

[1, [4, 6], 3]

In [49]:
# 2열만 보는 방법
mylist[:][2]

[5, 7, 9]

#### 리스트의 메서드(method)

In [50]:
test.append([5,6,7])
test

[1, [4, 6], 3, [5, 6, 7]]

In [51]:
test.extend([5,6,7])
test

[1, [4, 6], 3, [5, 6, 7], 5, 6, 7]

In [52]:
a=['1','2','3','4','5']
result=" ".join(a)
result

'1 2 3 4 5'

#### 리스트 연습문제

In [30]:
# 'english' 뒤에 85를 삽입합니다.
score = [['math', 89], ['english']]
#code here

[['math', 89], ['english', 85]]

In [54]:
# [1,3,5,4,2] 이라는 리스트를 슬라이싱을 이용하여 [2,4,5,3,1]로 출력하세요
mylist = [1,3,5,4,2]
#code here

[2, 4, 5, 3, 1]

In [29]:
# [‘Python’, ‘is’, ‘too’, ‘interesting’] 라는 리스트를 'Python is too interesting' 이라는 문자열로 출력하세요
# list문제를 가장한...   str 메서드 문제입니다.
mylist = ['Python','is','too','interesting']
#code here

'Python is too interesting'

### 튜플(tuple)
- 데이터 변경이 불가능한 Common Sequence Type
- 튜플은 소괄호( )와 콤마(,)를 사용하여 작성
- 튜플은 값의 추가, 수정, 제거가 불가능함, 조회만 가능
- 튜플의 인덱싱과 슬라이싱은 리스트와 동일
- 값의 수정이 불필요한 경우 리스트보다 튜플을 사용하는 것이 효율적임
   - 메모리 사용이 적음

#### 튜플(tuple) 생성

In [56]:
# 생성
t1=(1,2,3,4,5,5,5,5)
t2=tuple([1,2,2,3])
t3=tuple('123')
t4=1,2,3,4
t5=(10,)   #(10) 괄호가 우선순위가 먼저여서 정수형으로 인지
t1, t2, t3, t4, t5

((1, 2, 3, 4, 5, 5, 5, 5), (1, 2, 2, 3), ('1', '2', '3'), (1, 2, 3, 4), (10,))

In [57]:
# 검색  : 함수 검색  -- 변수.Tab키
t1[0], t1[3], t1[:3], t1[4:] ,t1[0:7:2], t1[::-1], t1.count(5), t1.index(3)

(1, 4, (1, 2, 3), (5, 5, 5, 5), (1, 3, 5, 5), (5, 5, 5, 5, 4, 3, 2, 1), 4, 2)

In [58]:
# range() 함수 : 값을 자동 발생  range(시작값, 끝값, step)
r1=tuple(range(1,5))  #1~4
r2=list(range(1,10,2))
r3=list(range(6))  #기본값 start=0, step=1
r1, r2, r3

((1, 2, 3, 4), [1, 3, 5, 7, 9], [0, 1, 2, 3, 4, 5])

### 집합(set)
- 집합은 중괄호 {} 안에 콤마(,)로 값들을 구분
- 중복을 허용하지 않으며 순서가 없음

#### 집합 생성

In [40]:
#생성
s1={10,88,1,2,3,4,5,5,5,5,6}
s2=set([1,2,3])    #형변환: set<-list
s3=set( (1,2,3 ))   #형변환: set<-tuple
s4=set( '123')      #형변환: set<-str
s1, s2, s3, s4

({1, 2, 3, 4, 5, 6, 10, 88}, {1, 2, 3}, {1, 2, 3}, {'1', '2', '3'})

In [41]:
#추가
s1.add(77)   #값1개 추가
s1.update([44,77,55])  #값 여러개 추가, 값 여러개 반드시 [] 
s1

{1, 2, 3, 4, 5, 6, 10, 44, 55, 77, 88}

In [42]:
#삭제
s1.remove(55)   # 지정값을 삭제, 만약에 값 없으면 error
s1.pop()       # 임의의 값을 삭제 (주로 첫번째 값을 )
s1

{2, 3, 4, 5, 6, 10, 44, 77, 88}

#### 집합 연산, 메서드

In [63]:
# set 연산
a={'a','b','c'}
b={'d','b','c'}
print("차집합", a-b, a.difference(b))
print("합집합", a|b, a.union(b))
print("교집합", a&b, a.intersection(b))

차집합 {'a'} {'a'}
합집합 {'d', 'b', 'c', 'a'} {'d', 'b', 'c', 'a'}
교집합 {'c', 'b'} {'c', 'b'}

#### 데이터 변환

In [64]:
s1 = set([1, 2, 3])    # list to set
s1

{1, 2, 3}

In [65]:
myList = list(s1)      # set to list
myList

[1, 2, 3]

In [66]:
myTuple = tuple(s1)    # set to tuple
myTuple

(1, 2, 3)

### 사전 (딕셔너리)
- 딕셔너리는 Key와 Value의 쌍과 { }로 구성되어 있음
  - dishes = {＇eggs＇: 2, ＇sausage＇: 1, ＇bacon＇: 1, ‘ spam＇: 500}
- 딕셔너리는 리스트나 튜플처럼 순차적으로 요소값을 구하지 않고 Key를 통해 Value를 얻음
- 딕셔너리 항목은 시퀀스 타입과는 다르게 순서가 없음
- Key값은 고유한 값으로 설정해야 함
- Key값은 변경 불가능한 객체로 설정해야 함
- List를 Key값으로 설정 불가

#### 사전(dict) 생성 및 연산

In [35]:
#생성
a={'사과':5000, '바나나':7000, '배':4000}
#추가
a["포도"]=6000
a

{'사과': 5000, '바나나': 7000, '배': 4000, '포도': 6000}

In [36]:
#검색
a["배"] , a.get("배")

(4000, 4000)

In [37]:
#a['포도']   # key가 존재하지 않으면 error
a.get('포도') #key가 존재하지 않으면 아무것도 출력하지 않음

6000

In [38]:
#수정 : 배가 존재하지 않으면 추가됨
a['배']=8000
a

{'사과': 5000, '바나나': 7000, '배': 8000, '포도': 6000}

In [ ]:
#추가 : '귤':3000 을 추가하여 보자

In [39]:
#삭제
del a['배']
a.pop('사과')
a.clear()  # 전체 삭제
a

{}

#### 사전(dict)의 메서드

In [76]:
a={'사과':5000, '바나나':7000, '배':4000}
a.keys()

dict_keys(['사과', '바나나', '배'])

In [77]:
a.values()

dict_values([5000, 7000, 4000])

In [78]:
for k in a.keys():
    print(k)

사과
바나나
배