### JAEN 모듈 설치

In [ ]:
!pip install jaen

### JAEN 모듈 import
- 대문자로 입력

In [4]:
import JAEN
from JAEN import list_data, download_data, Project

### 개인정보 수정
- 이메일 정보 수정, 나머지는 수정하지 말 것!

In [5]:
project_name = "손글씨 이미지 분류" # 프로젝트 이름(수정하지 마세요)
email = "scsa24xxx@scsa.com" # 이메일(본인 SCSA 이메일 입력)

class_info = {
    'edu_name':'SCSA', # 과정명
    'edu_rnd':'24기', # 차수
    'edu_class':'SW' # "없음"이면 빈 문자열
}

# 프로젝트 생성
pjt = Project(project_name=project_name, class_info=class_info, email=email)

<br/>
<br/>

### 필요 모듈 import 및 기본 설정

In [6]:
import pandas as pd
import numpy as np
import warnings


# 경고 무시
warnings.filterwarnings('ignore')

SEED=123
np.random.seed(SEED)

### 데이터 다운로드 및 제출 점검

In [7]:
download_data(project_name)

파일 다운로드 완료
====================

데이터셋: 손글씨 이미지 분류
파일경로: data\submission.csv

====================
파일 다운로드 완료
====================

데이터셋: 손글씨 이미지 분류
파일경로: data\test.csv

====================
파일 다운로드 완료
====================

데이터셋: 손글씨 이미지 분류
파일경로: data\train.csv

====================

In [8]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
submission = pd.read_csv("data/submission.csv")
submission # 제출 파일

       ImageId  Label
0            1    NaN
1            2    NaN
2            3    NaN
3            4    NaN
4            5    NaN
...        ...    ...
10495    10496    NaN
10496    10497    NaN
10497    10498    NaN
10498    10499    NaN
10499    10500    NaN

[10500 rows x 2 columns]

### 결과 파일 제출 테스트

In [9]:
# 평가때는 아래 과정 없음

       ImageId  Label
0            1      1
1            2      1
2            3      1
3            4      1
4            5      1
...        ...    ...
10495    10496      1
10496    10497      1
10497    10498      1
10498    10499      1
10499    10500      1

[10500 rows x 2 columns]

In [60]:
# pjt.submit(submission)

파일을 저장하였습니다. 파일명: submission-11-36-40.csv
제출 여부 :success
오늘 제출 횟수 : 2
제출 결과:0.11152380952380953

## 여기서부터 코드를 작성/수정하세요
#### - 데이터셋 로드, 전처리(필요시), 모델생성/컴파일, 학습
#### - 아래 샘플코드들은 실제 시험 시 없을수 있습니다

In [62]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
submission = pd.read_csv("data/submission.csv")

In [63]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
x_train = train.iloc[:,1:]
y_train = train.iloc[:,0]
x_test = test

x_train.shape, y_train.shape, x_test.shape

((31500, 784), (31500,), (10500, 784))

0.8858730158730159

### 생성한 정답의 shape 및 타입 확인

In [68]:
# 아래의 코드는 필요에따라 수정해서 사용합니다
pred = model.predict(x_test)
your_answer = pred
your_answer

array([9, 9, 3, ..., 0, 6, 9], dtype=int64)

In [69]:
submission['Label'] = your_answer

## 결과 제출 (수정하지 마세요)

### 순서대로 평가가 진행됩니다. 실행은 1회만 해주세요.

- 느리다고 중지 후 다시 평가 코드를 실행하는 경우 제출 과정에서 패널티가 발생할 수 있습니다. (제출 횟수 이슈 발생 가능)

- 전체 점수는 [평가시스템](http://manage.jaen.kr)에서 확인할 수 있습니다.
    - 프로젝트 > 손글씨 이미지분류 > 리더보드 > 같은 반 리더보드

- 아이디: 본인 이메일 아이디

In [70]:
pjt.submit(submission)

파일을 저장하였습니다. 파일명: submission-11-36-48.csv
제출 여부 :success
오늘 제출 횟수 : 3
제출 결과:0.8818095238095238