## Q1
다음 중 아래 Series에서 값이 np.nan일 경우 '카리나'로 바꾸고, np.nan이 아닌 경우 '이수만'으로 바꾸는 코드로 올바른 것은?

In [1]:
import numpy as np 
import pandas as pd

arr = pd.Series(['윈터','지젤','닝닝',np.nan])

1) np.where(arr==NaN,'카리나',False)
2) np.where(arr==NaN,'카리나','이수만')
3) np.where(arr.isna(),'카리나','이수만')
4) np.where(arr.isnull(),'카리나',False)
5) np.where(arr==None,'카리나','이수만')

정답 - 3)
np.where(s.isna(),'카리나','이수만')

해설

1) np.nan은 'NaN'으로 인식되지 않습니다. 문자열 'NaN'과 같은지로 판단하는 것이 아니라 .isna()나 .isnull()을 써야 합니다. 또한 False일 경우 Boolean인 False를 넣는 것이 아니라 '이수만'을 넣어야 합니다.
2) 1번과 같은 이유로 오답입니다. 다만 False 조건은 잘 들어갔습니다.
3) 정답! isnull() 결과 True이면 카리나, False이면 이수만이 들어갑니다. isnull()로 대체해도 똑같이 작동합니다.
4) isnull()은 맞았으나 False가 아니라 '이수만'이 들어가야 합니다.
5) 파이썬의 None과 numpy의 NaN은 다릅니다. s==None으로 동작하게 하려면 문자열이 None으로 들어있는 경우에만 True로 인식할 것입니다. 따라서 모든 요소에 대해 False이기에 ['이수만','이수만','이수만','이수만'] 으로 출력됩니다. 의미가 같다고 해서 통용되는 변수가 아님을 기억하면 좋습니다.

## Q2
다음의 코드를 실행하였을 때 예상되는 결과는? 정답: 3

In [1]:
import numpy as np
a = np.arange(9).reshape(3,3)
b = a[1:3,1:3]
b[0,0] = 1
print(a)

[[0 1 2]
 [3 1 5]
 [6 7 8]]

1. [[0 1 2]<br>
   [3 4 5]<br>
   [6 7 8]]<br>
2. [[1 1 2]<br>
    [3 4 5]<br>
    [6 7 8]]<br>
3. [[0 1 2]<br>
   [3 1 5]<br>
   [6 7 8]]<br>
4. [[0 1 2]<br>
   [3 4 5]<br>
   [6 7 1]]<br>