### 환경설정

In [9]:
import JAEN
from JAEN import list_data, download_data, Project

In [10]:
project_name = "타이타닉 생존자 예측" # 프로젝트 이름(수정하지 마세요)
email = "scsa24xx@scsa.com" # 이메일(본인 SCSA 이메일 아이디 입력)

class_info = {
    'edu_name':'SCSA', # 과정명
    'edu_rnd':'24기', # 차수
    'edu_class':'SW' # "없음"이면 빈 문자열
}

# 프로젝트 생성
pjt = Project(project_name=project_name, class_info=class_info, email=email)

### 모듈 import 

필요한 모듈을 import 합니다. 필요에 따라 추가 패키지를 load 할 수 있습니다.

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os

# 경고 무시
warnings.filterwarnings('ignore')

## 다운로드 및 데이터 로드

In [12]:
download_data(project_name)

파일 다운로드 완료
====================

데이터셋: 타이타닉 생존자 예측
파일경로: data\submission.csv

====================
파일 다운로드 완료
====================

데이터셋: 타이타닉 생존자 예측
파일경로: data\test.csv

====================
파일 다운로드 완료
====================

데이터셋: 타이타닉 생존자 예측
파일경로: data\train.csv

====================

In [13]:
# 데이터 로드
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
submission = pd.read_csv("data/submission.csv")
submission # 제출 파일

     PassengerId  Survived
0            892       NaN
1            893       NaN
2            894       NaN
3            895       NaN
4            896       NaN
..           ...       ...
413         1305       NaN
414         1306       NaN
415         1307       NaN
416         1308       NaN
417         1309       NaN

[418 rows x 2 columns]

In [14]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## ↓↓↓ 코드 구현 ↓↓↓
### 여기서부터 코드를 작성/수정하세요
#### - 데이터셋 로드, 전처리(필요시), 모델생성/컴파일, 학습

In [ ]:
# 아래의 코드는 필요시 수정해서 사용합니다
pred = model.predict(test)
your_answer = pred
your_answer

In [10]:
submission['Label'] = your_answer

     PassengerId  Survived
0            892         1
1            893         1
2            894         1
3            895         1
4            896         1
..           ...       ...
413         1305         1
414         1306         1
415         1307         1
416         1308         1
417         1309         1

[418 rows x 2 columns]

파일을 저장하였습니다. 파일명: submission-10-44-03.txt
제출 여부 :success
오늘 제출 횟수 : 1
제출 결과:0.37799043062200954

### 제출 횟수 제한 있습니다. (총 30회)

In [27]:
pjt.submit(submission)

파일을 저장하였습니다. 파일명: submission-14-58-23.csv
제출 여부 :success
오늘 제출 횟수 : 1
제출 결과:0.7703349282296651