In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

# 1. 데이터 불러오기

In [4]:
# 상반기 주유소 판매 데이터 불러오기
first = pd.read_csv('../data/2019년 상반기 주유소 판매가격.csv', encoding="cp949")
first

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0
1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0
2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190103,SK에너지,셀프,1673,1465,1365,0
3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190104,SK에너지,셀프,1673,1465,1365,0
4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190105,SK에너지,셀프,1673,1465,1365,0
...,...,...,...,...,...,...,...,...,...,...,...
90585,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190626,GS칼텍스,셀프,0,1529,1389,0
90586,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190627,GS칼텍스,셀프,0,1529,1389,0
90587,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190628,GS칼텍스,셀프,0,1529,1389,0
90588,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190629,GS칼텍스,셀프,0,1529,1389,0
90589,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190630,GS칼텍스,셀프,0,1529,1389,0

In [5]:
second =  pd.read_csv('../data/2019년 하반기 주유소 판매가격.csv', encoding="cp949")
second

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190701,SK에너지,셀프,1777,1577,1477,0
1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190702,SK에너지,셀프,1777,1577,1477,0
2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190703,SK에너지,셀프,1777,1577,1477,0
3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190704,SK에너지,셀프,1777,1577,1477,0
4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190705,SK에너지,셀프,1777,1577,1477,0
...,...,...,...,...,...,...,...,...,...,...,...
91119,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191227,GS칼텍스,셀프,0,1540,1389,1100
91120,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191228,GS칼텍스,셀프,0,1540,1389,1100
91121,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191229,GS칼텍스,셀프,0,1540,1389,1100
91122,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191230,GS칼텍스,셀프,0,1540,1389,1100
91123,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191231,GS칼텍스,셀프,0,1540,1389,1100

In [7]:
# 상반기 판매가격 데이터 프레임 결측치 조회
first.isnull().sum()

번호       0
지역       0
상호       0
주소       0
기간       0
상표       0
셀프여부     0
고급휘발유    0
휘발유      0
경유       0
실내등유     0
dtype: int64

In [8]:
# 하반기 판매가격 데이터 프레임 결측치 조회
second.isnull().sum()

번호       0
지역       0
상호       0
주소       0
기간       0
상표       0
셀프여부     0
고급휘발유    0
휘발유      0
경유       0
실내등유     0
dtype: int64

# 2. 데이터 결합

In [ ]:
# 상반기와 하반기 데이터를 상하로 결합
df

# 3. 데이터 가공 및 분석

In [ ]:
# 데이터 프레임 정보 조회

In [ ]:
# 상표 컬럼의 고유값 조회

In [ ]:
# 지역 컬럼의 고유값 조회

In [ ]:
# 지역 컬럼의 값을 이용하여 시와 구를 분리

In [ ]:
# 시 컬럼의 서울을 서울특별시로 변환

In [ ]:
# 기간 컬럼을 datetime 형식으로 변경

In [ ]:
# 기간 컬럼에서 dt 타입을 이용하여 년, 월, 일, 요일 컬럼 생성

In [ ]:
# 휘발유 가격이 비싼 5개 판매가격을 출력하세요.

In [ ]:
# 휘발유 가격이 저렴한 5개 판매가격을 출력하세요. (단 휘발유가 0원인 데이터는 제외)

In [ ]:
# 상표별 평균 휘발유 가격을 계산하세요.

In [ ]:
# 상표별 평균 휘발유 가격을 시각화하세요.

In [ ]:
# 상표와 셀프여부별 평균 휘발유 가격을 계산하세요.

In [ ]:
# 상표와 셀프여부별 평균 휘발유 가격을 시각화하세요.

In [ ]:
# 셀프여부에 따라 휘발유 가격을 boxplot으로 시각화해보세요.
# 휘발유가 0인 데이터는 제외하고 시각화합니다.

In [ ]:
# 휘발유 가격과 일반 주유소의 가격을 boxplot을 이용하여 시각화해보세요.
# 휘발유가 0인 데이터는 제외하고 시각화합니다.

In [ ]:
# 지역별 평균 휘발유 가격을 계산하세요

In [ ]:
# 지역별 평균 휘발유 가격을 시각화하세요.

In [ ]:
# 월별 평균 휘발유 가격을 계산하세요

In [ ]:
# 월별 평균 휘발유 가격을 시각화 하세요.

In [ ]:
# pivot_table 함수를 이용하여 구와 월 컬럼을 이용하여 평균 휘발유 가격을 계산하세요

In [ ]:
# pivot_table 함수를 이용하여 구와 월 컬럼을 이용하여 평균 휘발유 가격을 시각화 하세요 (heatmap 이용)